<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About </title>
        <link rel="stylesheet" href="/static/css/app.css" />
    </head>
    <body>
        <h1>Danielle Scott</h1>
        <p>I am not one to remember dates, but there are some that I could never forget.
        My birthday, November the 4th, is the only day I celebrate religiously.
        Another important date is May 3rd. 
        On that day, my baby brother was born. 
        My parents, on many occasions, told me that I begged for him. 
        However, as the years go by, I wonder how much of that is true! </p>
    </body>
</html>